<h1>Add NEW Skill</h1> 

<form method="POST" action="/skill/createSkill"> 

    <div>
       <label>Skill</label> 
       <input name="skill" type="text">
    </div> 

    <div>
        <label>Description</label> 
        <textarea name="description"></textarea>
    </div>

    <button type="submit">Add Skill</button> 

    

</form>    